[Unit]
Description=Attempt to Upload Remaining Log Files to OneDrive
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
Environment="PYTHONPATH={{pwd}}"
WorkingDirectory={{pwd}}
ExecStart={{pwd}}/onedrive-upload.py
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=1800s

[Install]
WantedBy=multi-user.target