[Unit]
Description=Attempt to Upload Remaining Log Files to OneDrive
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
Environment="PYTHONPATH={{pwd}}"
WorkingDirectory={{pwd}}
ExecStart={{pwd}}/rpi_can_logger/uploaders/mongo_upload.py
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=15m

[Install]
WantedBy=multi-user.target
