[Unit]
Description=CAN Bus and GPS Logging Service
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
Environment="PYTHONPATH={{pwd}}"
Environment=PATH=/home/pi/.pyenv/versions/3.6.1/bin:$PATH
WorkingDirectory={{pwd}}
ExecStartPre=/bin/sleep 5
ExecStart={{pwd}}/rpi_can_logger/main.py --conf {{pwd}}/example_fms_logging.yaml
StandardOutput=journal
StandardError=journal
Restart=always
#RestartSec=5

[Install]
WantedBy=multi-user.target
